<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>

<div class="full-width mt-3">
  <button class="btn btn-light mr-1" (click)="reloadHorses()">&#x21bb;</button>
  <button class="btn btn-primary float-end" routerLink="/horses/create">Add Horse</button>
</div>

<form #searchForm="ngForm" (ngSubmit)="loadFilteredHorses()">
<div class="mt-3">
  <table class="table table-hover table-sm">
    <thead>
    <th>Name<br><input type="text" class="form-control mb-1" [(ngModel)]="searchParams.name" name="name"></th>
    <th>Description<br><input type="text" class="form-control mb-1" [(ngModel)]="searchParams.description" name="description"></th>
    <th>Birthdate<br>
      <input class="form-control mb-1" type="date"  [(ngModel)]="searchParams.birthdate" name="birthdate">
    </th>
    <th>Sex<br>
      <select class="form-select mb-1" style="min-width: 5em"  [(ngModel)]="searchParams.sex" name="sex">
        <option value=""></option>
        <option *ngFor="let sex of sexOptions" [value]="sex">{{sex.toLowerCase()}}</option>
      </select>
    </th>
    <th>Owner<br><input type="text" class="form-control mb-1" [(ngModel)]="searchParams.ownerName" name="ownerName"></th>
    <th>
      <div class="float-end">
        <input type="button"
               class="btn btn-sm btn-outline-secondary mb-1 me-1"
               value="Clear"
               (click)="searchForm.reset(); reloadHorses()"
        />
        <input type="submit"
               class="btn btn-sm btn-outline-success mb-1"
               value="Filter"
        />
      </div>
    </th>
    </thead>
    <tbody>
    <tr *ngIf="horses && !horses.length">
      <td colspan="6">No horses to display</td>
    </tr>
    <tr *ngFor="let horse of horses">
      <td>{{horse.name}}</td>
      <td>{{horse.description}}</td>
      <td>{{horse.birthdate}}</td>
      <td>{{horse.sex.toLowerCase()}}</td>
      <td>{{horse.ownerName}}</td>
      <td>
        <div class="float-end">
          <input type="button"
                 class="btn btn-sm btn-outline-primary me-1"
                 value="Details"
                 [routerLink]="'/horses/' + horse.id.toString() + '/details'"
          />
          <input type="button"
                 class="btn btn-sm btn-outline-primary me-1"
                 value="Edit"
                 [routerLink]="'/horses/' + horse.id.toString() + '/edit'"
          />
          <input type="button"
                 class="btn btn-sm btn-outline-danger"
                 value="Delete"
                 (click)="deleteHorseById(horse.id)"
          />
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</form>
