<h1>Horse Details</h1>
<div *ngIf="horse" class="wrapper">
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">{{horse.name}}</h5>
      <p class="card-text">{{horse.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Owner: {{ horse.owner ? horse.owner.firstName + ' ' + horse.owner.lastName : 'None'}}</li>
      <li class="list-group-item">Birthdate: {{horse.birthdate}}</li>
      <li class="list-group-item">Sex: {{horse.sex.toLowerCase()}}</li>
    </ul>
    <div class="card-body">
      <a *ngIf="getParentBySex('MALE'); else noFather" [routerLink]="'/horses/' + getParentIdBySex('MALE') + '/details'" class="card-link">Father: {{getParentNameBySex('MALE')}}</a>
      <a *ngIf="getParentBySex('FEMALE'); else noMother" [routerLink]="'/horses/' + getParentIdBySex('FEMALE') + '/details'" class="card-link">Mother: {{getParentNameBySex('FEMALE')}}</a>
    </div>
  </div>

  <div class="d-grid mt-2">
    <div class="row">
      <div class="col-6">
        <input type="button"
               class="btn btn-outline-danger"
               value="Delete"
               (click)="deleteHorseById(horse.id)"
        />
      </div>

      <div class="col-6">
        <input type="button"
               class="btn btn-outline-primary"
               value="Edit"
               [routerLink]="'/horses/' + horse.id.toString() + '/edit'"
        />
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>

<ng-template #noFather>
  <span class="card-text me-3">No Father</span>
</ng-template>

<ng-template #noMother class="card-text">
  <span class="card-text ms-4">No Mother</span>
</ng-template>
