.input-wrapper {
  margin-bottom: 1em;
}

.btn {
  margin-bottom: 1em;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
